{% extends 'base.html.twig' %}

{% block title %}Web audio player{% endblock %}

{% block body %}
    <h1>{{ track_name }}</h1>
    <audio autoplay controls src="{{ path('download', {track: play}) }}"
           id="player"></audio>
    <p>Total: {{ total_tracks }}</p>
    <ul>
        {% for track in tracks %}
            <li>
                <a href="{{ path('audio', {track: track.path}) }}">{% if track.current %}>> {% endif %}{{ track.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <script type="text/javascript">
        const player = document.getElementById('player');

        player
            .addEventListener('ended', () => {
                document.location.href = "{{ path('next', {track: play }) }}";
            });

        document
            .addEventListener('keypress', e => {

                if (e.key !== " ") {
                    return;
                }

                if (player.paused) {
                    player.play();
                } else {
                    player.pause();
                }

                e.stopImmediatePropagation();
                e.preventDefault();
            });
    </script>
{% endblock %}
